# Copyright (c) 2026 The Modu Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MODU_LEFT

config ZMK_KEYBOARD_NAME
    default "Modu"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MODU_LEFT || SHIELD_MODU_RIGHT

config ZMK_SPLIT
    default y

endif
